# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Docker
docker-compose.override.yml

# Databases
*.sqlite3
*.db

# OS
.DS_Store
Thumbs.db

# Project specific
qualidade.json
ats.json
curriculo_otimizado.json
.git/
.gitignore
README.md
